<nav class="d-flex justify-content-arround gap-5 mx-5">
  <div class="list-group m-3">
    <a class="list-group-item {{ app.current_route == "app_home" ? "active" : "" }}" href="{{ path("app_home") }}">Accueil</a>
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
      <a class="list-group-item {{ app.current_route == "app_post_new" ? "active" : "" }}" href="{{ path("app_post_new") }}">Créer un post</a>
    {% endif %}
    <a class="list-group-item {{ app.current_route == "app_post_index" ? "active" : "" }}" href="{{ path("app_post_index") }}">Voir les posts</a>
    {% if is_granted('ROLE_ADMIN') %}
      <a class="list-group-item {{ app.current_route == "app_category_new" ? "active" : "" }}" href="{{ path("app_category_new") }}">Ajouter une catégorie</a>
    {% endif %}
    <a class="list-group-item {{ app.current_route == "app_category_index" ? "active" : "" }}" href="{{ path("app_category_index") }}">Voir les catégories</a>
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <a class="list-group-item {{ app.current_route == "app_login" ? "active" : "" }}" href="{{ path("app_login") }}">Se connecter</a>
      <a class="list-group-item {{ app.current_route == "app_user_new" ? "active" : "" }}" href="{{ path("app_user_new") }}">S'inscrire</a>
    {% else %}
      <a class="list-group-item" href="{{ path("app_logout") }}">Se déconnecter</a>
    {% endif %}
  </div>

  {% if app.user %}
    <div class="d-flex flex-column justify-content-center m-3">
      <ul class="alert alert-success">
        <li class="list-group-item">You are logged in as <strong>{{ app.user.userIdentifier }}</strong></li>
        <li class="list-group-item">Roles <strong>{{ app.user.getRoles|json_encode() }}</strong></li>
      </ul>
    </div>
  {% else %}
    <div class="d-flex flex-column justify-content-center m-3">
      <ul class="alert alert-warning">
        <li class="list-group-item">You are not logged in</li>
      </ul>
    </div>
  {% endif %}
</nav>
