<nav class="d-flex justify-content-between gap-5 mx-5">
  <div class="list-group m-3">
    <a class="list-group-item {{ app.current_route == "app_home" ? "active" : "" }}" href="{{ path("app_home") }}">Accueil</a>
    <a class="list-group-item {{ app.current_route == "app_post_index" ? "active" : "" }}" href="{{ path("app_post_index") }}">Voir les posts</a>
    <a class="list-group-item {{ app.current_route == "app_category_index" ? "active" : "" }}" href="{{ path("app_category_index") }}">Voir les catégories</a>
    {% if is_granted('ROLE_USER') %}
      <a class="list-group-item list-group-item-warning {{ app.current_route == "app_post_new" ? "active" : "" }}" href="{{ path("app_post_new") }}">Créer un post</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      <a class="list-group-item list-group-item-danger {{ app.current_route == "app_category_new" ? "active" : "" }}" href="{{ path("app_category_new") }}">Créer une catégorie</a>
      <a class="list-group-item list-group-item-danger {{ app.current_route == "app_user_index" ? "active" : "" }}" href="{{ path("app_user_index") }}">Les utilisateurs</a>
      <a class="list-group-item list-group-item-danger {{ app.current_route == "app_user_new" ? "active" : "" }}" href="{{ path("app_user_new") }}">Créer un utilisateur</a>
      <a class="list-group-item list-group-item-danger {{ app.current_route == "app_upload_logo" ? "active" : "" }}" href="{{ path("app_upload_logo") }}">Uploader un logo</a>
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <a class="list-group-item list-group-item-info {{ app.current_route == "app_login" ? "active" : "" }}" href="{{ path("app_login") }}">Se connecter</a>
      <a class="list-group-item list-group-item-success {{ app.current_route == "app_user_new" ? "active" : "" }}" href="{{ path("app_user_new") }}">S'inscrire</a>
    {% else %}
      <a class="list-group-item list-group-item-info" href="{{ path("app_logout") }}">Se déconnecter</a>
    {% endif %}
  </div>

  <div class="d-flex flex-column justify-content-center m-3">
    <img src="/upload/logo.jpg" class="rounded" alt="VEUILLEZ UPLOADER UN LOGO EN ADMIN" width="250" height="250">
  </div>

  {% if app.user %}
    <div class="d-flex flex-column justify-content-center m-3">
      <ul class="alert alert-success">
        <li class="list-group-item">You are logged in as <strong>{{ app.user.userIdentifier }}</strong></li>
        <li class="list-group-item">Roles <strong>{{ app.user.getRoles|json_encode() }}</strong></li>
      </ul>
    </div>
  {% else %}
    <div class="d-flex flex-column justify-content-center m-3">
      <ul class="alert alert-warning">
        <li class="list-group-item">You are not logged in</li>
      </ul>
    </div>
  {% endif %}
</nav>
